.place__like-button {
    background-image: url(../../../image/heart.svg);
    background-color: #fff;
    background-position: center;
    border: none;
    min-width: 22px;
    min-height: 19px;
    cursor: pointer;
    padding:0;
    transition: opacity 0.3s;
}

.place__like-button:hover {
    opacity: .5;
}

.place__like-button_active {
    opacity: 1;
    background-image: url(../../../image/heart-black.svg);
}